@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<section id="sec1">

    <h2>Index</h2>
    <div class="row">
        <div class="col-md-3">
            <ul>
                <li><a class="nav-link" asp-area="" asp-controller="Countries" asp-action="Index">Countries</a></li>
                <li><a class="nav-link" asp-area="" asp-controller="States" asp-action="Index">States</a></li>
                <li><a class="nav-link" asp-area="" asp-controller="People" asp-action="Index">People</a></li>
                <li><a class="nav-link" asp-area="" asp-controller="Contacts" asp-action="Index">Contacts</a></li>
            </ul>
        </div>
       @*  <div class="col-md-3">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Clients</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Clients</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Clients</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div> *@
    </div>
</section>